.basic-tile {
    //min-height: 66vh;
    align-items: center;
    padding: inherit;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: .9rem;
    @media screen and (max-width: @sm) {
        min-height: 0;
    }
    &-wrapper {
        margin-bottom: 35px;

        h1 {
            margin-top: 60px;
            text-align: center;
        }
        
    }
    &-third {
        
        width: 100%;
        @media screen and (min-width: @sm) {
            width: 25vw;
        }
        @media screen and (min-width: @md) {
            width: 20vw;
        }
        @media screen and (min-width: @xxl){
            width: 15vw;
        }
    }
    &-half {
        margin-bottom: 35px;
        width: 25vw;
        @media screen and (max-width: @md) {
            width: 100%;
        }
    }
    &-square{
        aspect-ratio: 1.21 !important;
        /* object-fit: cover; */
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            width: unset !important;
            height: 100%;
        }
    }

    &-reversed {
        @media screen and (min-width: @md) {
            flex-direction: row-reverse;
        }
    }
    

    &-image {
        //padding: 12px;
        padding: 0;
        aspect-ratio: 0.7;
        //width: inherit;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        img {
            //width: 100%;
            height: 100%;
        }
        @media screen and (max-width: @sm) {
            aspect-ratio: 1.61;
        }
    }
    &-text{
        text-align: left;
        padding: 0;
        h3{
            font-size: 1.4rem;
            line-height: 1.45;
        }
        h5{
            margin-top: 1.1428571429rem;
            margin-bottom: 1.1428571429rem;
            font-size: .722rem;
            text-transform: uppercase;
            letter-spacing: .1428571429rem;
            font-weight: 200;
            
        }
        a{
            //text-align: center;
            display: block;
        }
    }

    &-link{
        text-decoration: none;
        &:hover{
            opacity: 0.76;
            text-decoration: none !important;
            color: @dark !important;
            h1,
                h2,
                h3,
                p {
                    text-decoration: none;

                    &:hover{
                        text-decoration: none;
                    }
                }

        }
        h1,
        h2,
        h3,
        p {
            text-decoration: none;

            &:hover{
                text-decoration: none;
            }
        }
    }
}

.accom-tile{
    text-align: left;
    &-img{
        padding: 0;
        aspect-ratio: 0.7;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        width: 40%;
        margin: 0 auto;
        //margin: 12px;
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            margin: 20px auto 0;
        }
        a{
            padding-top: 3rem;
            border-top: 1px solid #dad9d6;
        }
    }
}

.featured-tile{
    display: grid;
    height: 60vw;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;

    @media screen and (max-width: @lg) {
        height: 90vh;
    }

    @media screen and (max-width: @md) {
        height: 125vh;
    }

    @media screen and (max-width: @sm) {
        height: 125vh;
    }

    &-img {
        grid-column: 3 / 13;
        grid-row: 2/ 11;
        z-index: 1;
        background-size: cover;
        background-position: center;

        @media screen and (max-width: @lg) {
            grid-column: 3 / 15;
            grid-row: 3/ 11;
        }

        @media screen and (max-width: @md) {
            grid-column: 2 / 18;
            grid-row: 3/ 9;
        }

        @media screen and (max-width: @sm) {
            grid-column: 2 / 21;
            grid-row: 2/ 8;
        }

    }

    &-text {
        grid-column: 12 / 21;
        grid-row: 3/ 10;
        z-index: 2;
        background-color: @light;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: @lg) {
            grid-column: 9 / 20;
            grid-row: 4/ 10;
        }

        @media screen and (max-width: @md) {
            grid-column: 6 / 21;
            grid-row: 8/ 12;
        }

        @media screen and (max-width: @sm) {
            grid-column: 3 / 22;
            grid-row: 7/ 12;
        }
        h3, h1, p{
            padding-left: 30px;
            text-align: left;
        }
        a{
            margin-top: 35px;
            margin-bottom: 20px;
            width: 25%;
            color: @light;
            background: @primary;
            border-radius: 5px;
            padding: 10px 10px;
            font-size: 0.7rem;
            text-align: center;
            &:hover{
                background-color: @primary-light;
                text-decoration: none;
            }
            &:active, &:focus{
                background-color: @primary-dark;
            }
            @media screen and (max-width: @sm) {
                width: 40%;
            }
        }
        h3 {
            color: @dark;
            font-family: "Montserrat", sans-serif;
            font-size: 0.9em;
            line-height: 1.8;
            font-weight: 300;
            letter-spacing: 0.06rem;
        }

        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
            font-size: 2em;

            @media screen and (max-width: @lg) {
                font-size: 1.75em;
            }

            @media screen and (max-width: @md) {
                font-size: 1.5em;
            }

            @media screen and (max-width: @sm) {
                font-size: 1.25em;
            }
        }

        p {
            font-size: 0.75em;

            @media screen and (max-width: @lg) {
                font-size: 0.75em;
            }


        }
    }
}


.basic-icon-tile {
    
    padding: 30px;
    align-items: center;
    

    @media screen and (min-width: @md) {
        flex-direction: row;
    }

    &-wrapper {
        margin-bottom: 35px;
        background-color: @light;
        min-height: 350px;
        padding-top: 50px;
        h1 {
            margin-top: 60px;
            text-align: center;
        }

    }

    &-third {
        
    }

    &-reversed {
        @media screen and (min-width: @md) {
            flex-direction: row-reverse;
        }
    }


    &-image {
        padding: 12px;

        svg {
            width: 40px;
            height: 40px;
        }
    }

}