.hero {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 0;


    &-text {
        background-color: @kuriftu-bage !important; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
            font-size: 1rem;
            line-height: 1.45;
            /* color: #313131; */
            letter-spacing: .0571428571rem;
            overflow-wrap: break-word;
        p {
            color: @dark !important;
        }
    }
    &-list{
        background-color: none;
        &-wrapper{
            display: flex;
            justify-content: center;
            padding: 4% 8.5%;
            align-items: center;
            background-color: @light;
           
            ul{
                column-count: 3;
                -moz-column-gap: 110px;
                column-gap: 110px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                @media screen and (max-width: @lg) {
                    -moz-column-count: 2;
                    column-count: 2;
                    -moz-column-gap: 50px;
                    column-gap: 50px;
                    grid-template-columns: 1fr 1fr;
                }
                @media screen and (max-width: @md) {
                    -moz-column-count: 1;
                    column-count: 1;
                    -moz-column-gap: 0;
                    column-gap: 0;
                    grid-template-columns: 1fr;
                }
                
            }
            li{
                text-align: left;
                margin-bottom: 1rem;
                padding-left: 1.4285714286rem;
                font-size: 0.68rem;
                line-height: 1.45;
                letter-spacing: .0571428571rem;
                overflow-wrap: break-word;
            }
        }
        h1{
            text-align: center;
            margin-top: 15vh;
            margin-bottom: 1.2857142857rem;
        }
    }

    &-video{
        position: relative;;
        width: 100%;
        height: 641.25px;
        object-fit: cover;
        pointer-events: none;
        @media screen and (max-width: @md) {
            height: 369px;
        }
        &-wrapper{
            position: relative;
            @media screen and (max-width: @sm) {
                margin: 0 -2.5rem 45px -2.5rem;
            }
            
            
        }
    }
    
}
.light{
    background-color: @secondary !important;
    color: @dark !important;
}