@import './Resort/styles.less';
.landing{
    padding: 0;
    &-video{
        max-width: 100vw;
        min-height: 100vh;
        object-fit: cover;
        padding: 0;
    }
}
.reservation{
    padding-top: 90px;
}
.error-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: @light;
    text-align: center;
    h1{
        font-size: 10vw;
    }
    img{
        width: 10vw;
    }
}