.navbar{
    padding: 0;
    backdrop-filter: blur(9px);
    /** height: 73px;
    background-color: @misty-rose;
    */
    #login-button{
        background-color: @misty-rose-opace;
        color: @dark;
        border: solid 0.5px @misty-rose-opace;
        border-radius: 3px;
        font-family: 'Montserrat';
        padding: 4px 20px;
        &:hover{
            background-color: @dark;
            color: @dark;
        }
    }
    &-content{
        padding: 8px 20px;
    }
    
    
    .nav-link{
        a{
            text-decoration: none;
            color: @dark;
            font-family: 'Monteserat';
            font-size: 20px;
        }
    }
    
}
.offcanvas {
    background-color: @misty-rose-opace;
    color: @dark;
    border: solid 0.5px @misty-rose-opace;
    border-radius: 3px;
    font-family: 'Montserrat';
    backdrop-filter: blur(9px);

    .nav-link{
        font-size: 20px;
    }
}