.card{
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    /*width: 100%;*/
    object-fit: cover;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    &:hover{
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        background-color: #e0e0e0;
    }

    &-content {
        color: white
    }
    &-body{
        height: fit-content;
        flex: none;
        backdrop-filter: blur(10px);
        color: @light;
    }
    &-text{
        font-size: 0.65rem;
    }
}
.hero{
    &-container{
        width: 100vw;
        min-height: 100vh;
        background-size: cover;
        padding: 91px 30px;
    }
    &-title{
        h1{
            color: @light;
            padding: 20px 15px;
            backdrop-filter: blur(12px);
            border: 0.8px solid #eee;
            border-radius: 11.1px;
            /** filter: invert(1);*/
            mix-blend-mode: difference;
        }
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            color: @light;
            padding: 25px 10px;
            backdrop-filter: blur(12px);
            border: 0.8px solid #eee;
            border-radius: 11.1px;
        }
    }
}

/* for mobile */
@media screen and (max-width: 600px) {
    .card{
        flex: 100% 1 0;
    }
}