.card{
    &-res{
        &-body{
            justify-content: space-around;
            p{
                margin-bottom: 0;
                text-align: right;
            }
            h5{
                text-align: right;
                font-size: 2rem;
                font-family: 'Montserrat';
                font-weight: 300;
            }
            button{
                font-family: 'Montserrat';
                text-transform: uppercase;
                font-weight: 600;
            }

        }
    }
}
.hero{
    &-container{
        width: 100vw;
        min-height: 100vh;
        background-size: cover;
        padding: 91px 30px;
    }
    &-title{
        h1{
            color: @light;
            padding: 20px 15px;
            backdrop-filter: blur(12px);
            border: 0.8px solid #eee;
            border-radius: 11.1px;
            /** filter: invert(1);*/
            mix-blend-mode: difference;
        }
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            color: @light;
            padding: 25px 10px;
            backdrop-filter: blur(12px);
            border: 0.8px solid #eee;
            border-radius: 11.1px;
        }
    }
}
