.carousel{
    &-item-custom {
        flex: 1;
        max-width: 80%; // Makes each slide smaller so adjacent slides are partially visible
        margin: 0 auto; // Center the slides
        transition: transform 0.5s ease-in-out;
        overflow: visible;
    }
    &-col {
        flex: 1;
        max-width: 100%;
    }
    &-multi-item{
        .basic-tile-third {
            width: 100%;
        }
    }
    &-multi{
        &-item{

            .slick{
                &-dots{
                    display: flex !important;
                    width: 100%;
                    max-width: 42.1428571429rem;
                    margin: 5.3571428571rem auto .7142857143rem;
                    padding: 0;
                    li{
                        list-style: none;
                        flex-basis: 100%;
                        margin-left: 0.25px;
                        margin-right: 0.25px;
                        button{
                                width: 100%;
                                border: none;
                                text-indent: -666666px;
                                height: 1px;
                                padding: 0;
                                background: #dad9d7;
                                cursor: pointer;
                        }
                        &.slick-active{
                            button{
                                background: #82847f;
                            }
                        }
                    }
                }
            }
        }
    }
}

.item-box {
    background: lightblue;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

/* Custom Dashed Indicators */
.custom-indicators {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;

    li {
        width: 20px;
        height: 3px;
        background-color: gray;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
            background-color: black;
        }
    }
}