/* Break Points */
@import url('bootstrap-icons/font/bootstrap-icons.css');
.btn-primary {
  background-color: #5C7457;
  color: #FCFAF3;
  border-color: #5C7457;
}
.btn-primary:hover {
  background-color: #3c5a37;
  border-color: #3c5a37;
}
.btn-primary:active {
  background-color: #5C7457 !important;
  border-color: #5C7457 !important;
}
.btn-primary:focus {
  background-color: #3c5a37;
}
.btn-primary:focus-visible {
  border-color: #3c5a37;
  background-color: #3c5a37;
  box-shadow: 0 0 0 0.25rem #9aaf9580;
}
.form-control,
.form-select {
  margin-bottom: 8.88px;
}
.form-control:focus,
.form-select:focus {
  border-color: #3c5a37;
  box-shadow: 0 0 0 0.25rem #9aaf9580;
}
a {
  color: #5C7457;
  text-decoration: none;
}
a:hover {
  color: #3c5a37;
  text-decoration: underline;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  text-align: left;
  font-size: 1.4rem;
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 1.99rem;
  }
}
a {
  font-family: 'whitneybook';
  text-decoration: underline;
  font-size: 0.69rem;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0.08rem;
}
@media screen and (min-width: 576px) {
  a {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  a {
    font-size: 0.99rem;
  }
}
p {
  font-size: 0.75rem;
  line-height: 1.45;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7LppwU8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp7c8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp1s7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp2I7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7LppwU7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lppyw7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjNPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4VrMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4bbLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4Y_LPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4cHLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN9JG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8XG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8lG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_JHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_wHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7LppwU8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp7c8aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp1s7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp2I7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7LppwU7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lppyw7aRo.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjNPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4VrMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4bbLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4Y_LPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4cHLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpYCP.ttf) format('truetype');
}
/** Regular, 400
Medium 500
SemiBold 600

.teko-<uniquifier> {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/
@font-face {
  font-family: 'whitneybook';
  src: url('../fonts/whitneybook.otf');
  font-weight: normal;
  font-style: normal;
}
.section-header-font {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.nav-link-font {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.tile-header-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
.title-sans {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}
.font-body,
p,
label,
button,
input,
optgroup,
select,
option,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.06rem;
}
a {
  color: #191E19;
}
a:hover {
  color: #5C7457;
  text-decoration: underline;
}
.resort-page {
  margin-top: 200px;
}
.resort-page h2 {
  font-family: "Montserrat";
}
.resort-page a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .resort-page .hero-wrapper {
    flex-wrap: wrap-reverse;
  }
}
.resort-page .hero-message {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}
.resort-page .basic-tile-wrapper {
  margin-bottom: 200px;
}
.resort-details .hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resort-details .hero h1 {
  color: #FCFAF3;
  z-index: 100;
  font-size: 2.9rem;
  text-align: center;
  font-weight: 550;
  line-height: 1.7;
  margin-top: 120px;
  padding: 10px 20px;
}
@media screen and (min-width: 576px) {
  .resort-details .hero h1 {
    font-size: 3rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .resort-details .hero h1 {
    font-size: 3.7rem;
    line-height: 1.3;
  }
}
@media screen and (min-width: 992px) {
  .resort-details .hero h1 {
    font-size: 4rem;
    line-height: 1.3;
    padding-bottom: 12px;
  }
}
.resort-details .hero p {
  color: #FCFAF3;
  margin-bottom: 20px;
  z-index: 100;
}
.resort-details .hero a {
  z-index: 100;
  display: inline-block;
  border-width: 1px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  line-height: 1.8;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #FCFAF3;
  border: solid 0.6px;
  background-color: rgba(255, 255, 255, 0.4);
}
.resort-details .hero a:hover,
.resort-details .hero a:active,
.resort-details .hero a:focus {
  background-color: #FCFAF3;
  border-color: #FCFAF3;
  color: #191E19;
  cursor: pointer;
}
.resort-details .description-wrapper {
  min-height: 95vh;
  padding: 50px;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .resort-details .description-wrapper {
    padding-left: 8rem;
    padding-right: 16rem;
  }
}
@media screen and (max-width: 576px) {
  .resort-details .description-wrapper {
    padding-bottom: 8rem;
    padding-top: 16rem;
  }
}
.resort-details .description-imageStack {
  position: relative;
  height: 50vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 500px;
  aspect-ratio: 1;
}
.resort-details .description-imageStack-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
@media screen and (max-width: 576px) {
  .resort-details .description-imageStack-wrapper {
    height: 50vh;
  }
}
.resort-details .description-imageStack .top {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  z-index: 1;
  background-size: cover;
  background-position: center;
}
.resort-details .description-imageStack .bottom {
  background-size: cover;
  background-position: center;
  grid-column: 4 / 6;
  grid-row: 4 / 6;
  z-index: 2;
}
.resort-details .description-text {
  padding: 50px;
}
.resort-details .accomidation {
  padding: 12px;
  margin-top: 250px;
  height: fit-content;
}
.resort-details .accomidation-img {
  grid-column: 3 / 13;
  grid-row: 2/11;
  z-index: 1;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 992px) {
  .resort-details .accomidation-img {
    grid-column: 3 / 15;
    grid-row: 3/11;
  }
}
@media screen and (max-width: 768px) {
  .resort-details .accomidation-img {
    grid-column: 2 / 18;
    grid-row: 3/9;
  }
}
@media screen and (max-width: 576px) {
  .resort-details .accomidation-img {
    grid-column: 2 / 21;
    grid-row: 2/8;
  }
}
.resort-details .accomidation-text {
  grid-column: 12 / 21;
  grid-row: 3/10;
  z-index: 2;
  background-color: #FCFAF3;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .resort-details .accomidation-text {
    grid-column: 9 / 20;
    grid-row: 4/10;
  }
}
@media screen and (max-width: 768px) {
  .resort-details .accomidation-text {
    grid-column: 6 / 21;
    grid-row: 8/12;
  }
}
@media screen and (max-width: 576px) {
  .resort-details .accomidation-text {
    grid-column: 3 / 22;
    grid-row: 7/12;
  }
}
.resort-details .accomidation-text h3 {
  color: #191E19;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.06rem;
}
.resort-details .accomidation-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-size: 2em;
}
@media screen and (max-width: 992px) {
  .resort-details .accomidation-text h1 {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 768px) {
  .resort-details .accomidation-text h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .resort-details .accomidation-text h1 {
    font-size: 1.25em;
  }
}
.resort-details .accomidation-text p {
  font-size: 1em;
}
@media screen and (max-width: 992px) {
  .resort-details .accomidation-text p {
    font-size: 0.75em;
  }
}
.resort-details .accomidation .basic-tile {
  min-height: auto;
  margin-bottom: 33.5px;
}
.resort-details .content {
  min-height: 66vh;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .resort-details .content {
    flex-direction: row;
  }
}
.resort-details .content-wrapper {
  margin-bottom: 35px;
}
.resort-details .content-wrapper h1 {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .resort-details .content-reversed {
    flex-direction: row-reverse;
  }
}
.resort-details .content .image {
  padding: 12px;
}
.resort-details .content .image img {
  width: 100%;
}
.resort-details .contact-wrapper {
  background-color: #FCFAF3;
  padding: 2rem;
}
.resort-details .contact-wrapper h1 {
  text-align: right;
}
.resort-details .contact-image img {
  width: 100%;
}
.resort-details .contact-text {
  text-align: right;
}
.resort-details .contact-text i {
  margin-right: 10px;
}
.resort-gallery {
  padding-left: 12px;
  padding-right: 12px;
}
.resort-gallery-wrapper {
  margin-top: 180px;
}
.resort-gallery-hero {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resort-gallery-hero h1 {
  text-align: center;
}
.dining-tile {
  padding-left: 15vw;
  padding-right: 15vw;
  margin-bottom: 45px;
}
@media screen and (max-width: 2000px) {
  .dining-tile {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media screen and (max-width: 1400px) {
  .dining-tile {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.dining-tile-wrapper {
  margin-top: 30px;
  margin-bottom: 35px;
  padding: 20px;
  background-color: #FCFAF3;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dining-tile-wrapper a {
  color: #191E19;
}
.dining-tile-image {
  width: 100%;
  border-radius: 5px;
}
.dining-tile-image-wrapper {
  display: flex;
  align-items: center;
}
.dining-tile-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.dining-tile-text-wrapper h1,
.dining-tile-text-wrapper p {
  color: #191E19;
  text-align: right;
}
.accomidation-page .hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 0;
}
.accomidation-page .hero-text {
  background-color: #5C7457;
  padding: 3vw 10vw;
  max-height: 30vh;
}
.accomidation-page .hero-text p {
  color: #FCFAF3;
  border: none;
}
.accomidation-page .hero h1 {
  color: #FCFAF3;
}
.accomidation-page .hero-carousel {
  padding: 0;
}
.accomidation-page .hero-carousel .carousel-item div {
  height: 100vh;
}
@media screen and (max-width: 576px) {
  .accomidation-page .hero-carousel .carousel-item div {
    height: 50vh;
  }
}
.accomidation-page .listing {
  padding-top: 10vh;
  padding-bottom: 12vh;
}
.accomidation-page .listing h1 {
  text-align: center;
  margin-bottom: 25px;
}
.resorts-subpage-hero {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  margin-top: 178px;
  margin-bottom: 4.64285714rem;
}
.landing {
  padding: 0;
}
.landing-video {
  max-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  padding: 0;
}
.landing-tile {
  padding: 0;
}
.landing-carousel .slick-list {
  padding: 0px 10% 0 0 !important;
}
.landing-carousel .slick-list h1 {
  font-size: 1rem;
}
.landing-carousel .basic-tile-image {
  aspect-ratio: 1;
}
.landing-carousel .basic-tile-text p {
  font-size: 0.7rem;
}
.landing-section {
  margin-top: 50px;
  margin-bottom: 100px;
}
.landing-section h1,
.landing-section p {
  text-align: left;
}
.landing-section h1 {
  font-size: 1.5rem;
}
.landing-section1 {
  margin-bottom: 30vh;
  margin-top: 20vh;
  justify-content: center;
}
.landing-section1 .basic-tile-third {
  margin: 0px 10px;
  width: 25vw;
}
@media screen and (max-width: 768px) {
  .landing-section1 .basic-tile-third {
    width: 100%;
    margin-bottom: 150px;
  }
}
.landing-section1 .basic-tile-text p {
  font-size: 0.7rem;
}
.reservation {
  padding-top: 90px;
}
.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FCFAF3;
  text-align: center;
}
.error-page h1 {
  font-size: 10vw;
}
.error-page img {
  width: 10vw;
}
.about-page {
  margin: 0;
  padding: 0;
}
.about-page-hero {
  margin: 0;
  height: 69vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-page-hero h1 {
  z-index: 10;
  width: fit-content;
  color: white;
  font-size: 3.6rem;
  font-family: 'Montserrat';
  font-weight: 800;
}
.about-page .accomidation {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
}
@media screen and (max-width: 992px) {
  .about-page .accomidation {
    height: 80vh;
  }
}
@media screen and (max-width: 768px) {
  .about-page .accomidation {
    height: 105vh;
  }
}
@media screen and (max-width: 576px) {
  .about-page .accomidation {
    height: 95vh;
  }
}
.about-page .accomidation-img {
  grid-column: 3 / 13;
  grid-row: 2/11;
  z-index: 1;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 992px) {
  .about-page .accomidation-img {
    grid-column: 3 / 15;
    grid-row: 3/11;
  }
}
@media screen and (max-width: 768px) {
  .about-page .accomidation-img {
    grid-column: 2 / 18;
    grid-row: 3/9;
  }
}
@media screen and (max-width: 576px) {
  .about-page .accomidation-img {
    grid-column: 2 / 21;
    grid-row: 2/8;
  }
}
.about-page .accomidation-text {
  grid-column: 12 / 22;
  grid-row: 3/10;
  z-index: 2;
  background-color: #FCFAF3;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .about-page .accomidation-text {
    grid-column: 9 / 20;
    grid-row: 4/10;
  }
}
@media screen and (max-width: 768px) {
  .about-page .accomidation-text {
    grid-column: 6 / 21;
    grid-row: 8/12;
  }
}
@media screen and (max-width: 576px) {
  .about-page .accomidation-text {
    grid-column: 3 / 22;
    grid-row: 7/12;
  }
}
.about-page .accomidation-text h3 {
  color: #191E19;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.06rem;
}
.about-page .accomidation-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-size: 2em;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .about-page .accomidation-text h1 {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 768px) {
  .about-page .accomidation-text h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .about-page .accomidation-text h1 {
    font-size: 1.25em;
  }
}
.about-page .accomidation-text p {
  font-size: 0.85rem;
}
@media screen and (max-width: 992px) {
  .about-page .accomidation-text p {
    font-size: 0.65em;
  }
}
.boston .row-container {
  margin-bottom: 80px;
}
.boston-services .basic-tile {
  min-height: auto;
}
.boston-services-heading h1 {
  text-align: center;
  margin-bottom: 30px;
}
.product {
  max-width: 900px;
}
.product-wrapper {
  margin-top: 120px;
}
.product-image {
  margin-bottom: 22px;
}
.product-image .carousel-item div {
  width: 100%;
  height: 500px;
}
.product h1 {
  text-align: center;
}
.product-price {
  margin-right: 20px;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.product-price h5 {
  text-align: right;
  margin-bottom: 0;
  font-size: 1rem;
}
.product-price p {
  text-align: right;
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .product-price {
    margin-right: 0;
  }
  .product-price p {
    font-size: 1.2rem;
  }
  .product-price h5 {
    font-size: 0.82rem;
  }
}
.product-description {
  text-align: left;
}
.product-description ul {
  padding-left: 50px;
}
.product-button {
  justify-content: flex-end;
  margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .product-button {
    justify-content: center;
  }
}
.product-button a {
  font-family: 'whitneybook';
  max-width: 340px;
  padding: 0.71428571rem 1.07142857rem;
  white-space: nowrap;
  text-align: center;
  display: flex;
  background: #191E19;
  color: #FCFAF3;
  text-decoration: none;
  height: 42px;
  justify-content: center;
  align-items: center;
}
.product-button a:hover {
  text-decoration: none !important;
  color: #FCFAF3 !important;
  background-color: #363b36;
}
@media screen and (max-width: 768px) {
  .product-button a {
    max-width: 100%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FCFAF3;
}
.content--wrapper {
  width: 100%;
  padding-top: 20px;
}
.content--sticky {
  width: 100vw;
  position: sticky;
  top: 0;
  --offset: 0px;
  top: var(--offset);
  height: calc(100vh - var(--offset));
}
.content__subtitle {
  font-size: 11pt;
  text-align: left;
  color: #363b36;
  padding-left: 5px;
}
.content__title {
  width: 66%;
  font-size: 4.5rem;
  line-height: 0.9;
  counter-increment: section;
  text-align: center;
  display: grid;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .content__title {
    font-size: 3rem;
  }
}
.content__title .word {
  display: inline-block;
  margin: 3.33px 1rem;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
}
.content--card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
  min-width: 66vw;
  max-width: 88vw;
  aspect-ratio: 0.8;
  top: 10vh;
  margin: auto;
  border-radius: 14px;
  gap: 3vh;
  text-align: center;
  padding: 0 12px;
  margin-bottom: 5vh;
}
@media screen and (max-width: 768px) {
  .content--card {
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    height: 80vh;
    padding-top: 12px;
  }
}
.content--card .content__title {
  font-size: clamp(1.5rem, 4vw, 3.5rem);
  color: #191E19;
  width: 100%;
  text-align: left;
}
.content__img {
  flex: 55% 0 1;
  height: 70%;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}
@media screen and (max-width: 768px) {
  .content__img {
    width: 100%;
    height: 60%;
    flex: none;
  }
}
@media screen and (max-width: 576px) {
  .content__img {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    flex: none;
  }
}
.content__text {
  color: #191E19;
  font-size: clamp(0.45rem, 1.25vw, 1rem);
  text-align: left;
}
@media screen and (max-width: 768px) {
  .content__text {
    font-size: clamp(0.7rem, 1.25vw, 1rem);
  }
}
.content__text__wrapper {
  flex: 40% 1 0;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .content__text__wrapper {
    font-size: clamp(0.7rem, 1.25vw, 1rem);
  }
}
.content_link {
  color: #3c5a37;
  font-size: clamp(1.29rem, 1.25vw, 1rem);
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .content_link {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
.content__one {
  display: flex;
  height: 80vh;
}
@media screen and (max-width: 768px) {
  .content__one {
    flex-direction: column;
  }
}
.content__one__wrapper {
  z-index: 1000;
  position: relative;
  background: white;
  padding: 12px;
}
.content__one__img {
  flex-basis: 50%;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .content__one__img {
    height: 60%;
  }
}
@media screen and (max-width: 576px) {
  .content__one__img {
    flex-basis: auto;
    width: 100%;
    aspect-ratio: 1;
  }
}
.content__one__title {
  font-size: 2.5rem;
  font-style: normal;
}
@media screen and (max-width: 992px) {
  .content__one__title {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 768px) {
  .content__one__title {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .content__one__text {
    font-size: clamp(0.7rem, 1.25vw, 1rem);
  }
}
.content__one__text__wrapper {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
.content__one_link {
  color: #3c5a37;
  font-size: clamp(1.29rem, 1.25vw, 1rem);
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .content__one_link {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.quickbooking_left {
  padding: 12px;
}
.availability-check-wrapper {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 0.5px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 8px;
}
.date_range_picker_input_box {
  width: 100% !important;
  font-family: 'Montserrat';
  background: #FCFAF3;
}
.date_range_picker .calendar_popup {
  top: auto;
  bottom: 55px;
  font-family: 'Montserrat';
}
.date_range_picker .calendar_popup .day.selected {
  background-color: #5C7457;
}
.resorts-nabvar {
  background-color: #fcfaf369;
  position: fixed;
  top: 88px;
  left: 0px;
  width: 100%;
  backdrop-filter: blur(10px);
  margin: 0;
  z-index: 1000;
}
.resorts-nabvar .nav-link:hover {
  color: #363b36 !important;
}
.resorts-nabvar .nav-link:active,
.resorts-nabvar .nav-link:focus {
  color: #191E19 !important;
}
.resorts-nabvar .disabled {
  color: #b8b8bf !important;
}
@media screen and (max-width: 992px) {
  .resorts-nabvar {
    top: 88.07px;
  }
}
.resorts-nabvar .dropdown-menu {
  position: absolute;
  left: 40px;
  width: 30vw;
}
.scrolling-container-section {
  display: flex;
  flex-direction: column;
  height: 300vh;
  justify-content: space-between;
}
.scrolling-container-image {
  width: 30vw;
  aspect-ratio: 1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 12px;
  border-radius: 5px;
}
.scrolling-container-image h3 {
  color: #FCFAF3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-size: 2em;
  font-size: 0.75rem;
  background-color: #f5e2df74;
  backdrop-filter: blur(3px);
  position: absolute;
  width: inherit;
}
@media screen and (min-width: 576px) {
  .scrolling-container-image h3 {
    font-size: 1.35rem;
  }
}
@media screen and (min-width: 768px) {
  .scrolling-container-image h3 {
    font-size: 1.45rem;
  }
}
@media screen and (min-width: 992px) {
  .scrolling-container-image h3 {
    font-size: 1.55rem;
  }
}
.scrolling-container-tile .img-0,
.scrolling-container-tile .img-2 {
  margin-left: 10vw;
  width: 50vw;
  aspect-ratio: 1.25;
}
@media screen and (min-width: 992px) {
  .scrolling-container-tile .img-0,
  .scrolling-container-tile .img-2 {
    margin-left: 10vw;
    width: 35vw;
    aspect-ratio: 1.3;
  }
}
.scrolling-container-tile .img-0 h3,
.scrolling-container-tile .img-2 h3 {
  text-align: left;
  padding-left: 20px;
}
.scrolling-container-tile .img-1 {
  margin-left: 17vw;
  width: 54vw;
}
@media screen and (min-width: 768px) {
  .scrolling-container-tile .img-1 {
    width: 45vw;
  }
}
@media screen and (min-width: 992px) {
  .scrolling-container-tile .img-1 {
    margin-left: 15vw;
  }
}
.scrolling-container-tile .img-1 h3 {
  text-align: center;
}
.scrolling-container-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  text-align: left;
  font-size: 1.4rem;
}
@media screen and (min-width: 576px) {
  .scrolling-container-text h1 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .scrolling-container-text h1 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  .scrolling-container-text h1 {
    font-size: 1.99rem;
  }
}
.scrolling-container-text a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.69rem;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 0.08rem;
}
@media screen and (min-width: 576px) {
  .scrolling-container-text a {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  .scrolling-container-text a {
    font-size: 0.99rem;
  }
}
.scrolling-container-text-wrapper {
  background-color: #FCFAF3;
  width: 55vw;
  align-self: start;
  padding: 25px;
  padding-top: 30px;
  border-radius: 9px;
  margin: 0 auto;
  z-index: 1;
  margin-left: 42vw;
}
@media screen and (min-width: 576px) {
  .scrolling-container-text-wrapper {
    width: 45vw;
    margin-left: 50vw;
    padding-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .scrolling-container-text-wrapper {
    width: 45vw;
    margin-left: 45vw;
  }
}
@media screen and (min-width: 992px) {
  .scrolling-container-text-wrapper {
    width: 40vw;
    padding: 50px;
    padding-top: 80px;
    margin-left: 55vw;
  }
}
.basic-tile {
  min-height: 66vh;
  align-items: center;
  padding: inherit;
  flex-direction: column;
}
.basic-tile-wrapper {
  margin-bottom: 35px;
}
.basic-tile-wrapper h1 {
  margin-top: 60px;
  text-align: center;
}
.basic-tile-third {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .basic-tile-third {
    width: 25vw;
  }
}
@media screen and (min-width: 768px) {
  .basic-tile-third {
    width: 20vw;
  }
}
@media screen and (min-width: 2000px) {
  .basic-tile-third {
    width: 15vw;
  }
}
.basic-tile-half {
  margin-bottom: 35px;
  width: 45vw;
}
@media screen and (max-width: 768px) {
  .basic-tile-half {
    width: 100%;
  }
}
.basic-tile-square {
  aspect-ratio: 1.21 !important;
  /* object-fit: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.basic-tile-square img {
  width: unset !important;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .basic-tile-reversed {
    flex-direction: row-reverse;
  }
}
.basic-tile-image {
  padding: 0;
  aspect-ratio: 0.7;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.basic-tile-image img {
  height: 100%;
}
.basic-tile-text {
  text-align: left;
  padding: 0;
}
.basic-tile-text h3 {
  font-size: 1.4rem;
  line-height: 1.45;
}
.basic-tile-text h5 {
  margin-top: 1rem;
  margin-bottom: 1.14285714rem;
  font-size: 0.722rem;
  text-transform: uppercase;
  letter-spacing: 0.14285714rem;
  font-weight: 200;
}
.basic-tile-text a {
  text-align: center;
  display: block;
}
.basic-tile-link {
  text-decoration: none;
}
.basic-tile-link:hover {
  opacity: 0.76;
  text-decoration: none !important;
  color: #191E19 !important;
}
.basic-tile-link:hover h1,
.basic-tile-link:hover h2,
.basic-tile-link:hover h3,
.basic-tile-link:hover p {
  text-decoration: none;
}
.basic-tile-link:hover h1:hover,
.basic-tile-link:hover h2:hover,
.basic-tile-link:hover h3:hover,
.basic-tile-link:hover p:hover {
  text-decoration: none;
}
.basic-tile-link h1,
.basic-tile-link h2,
.basic-tile-link h3,
.basic-tile-link p {
  text-decoration: none;
}
.basic-tile-link h1:hover,
.basic-tile-link h2:hover,
.basic-tile-link h3:hover,
.basic-tile-link p:hover {
  text-decoration: none;
}
.featured-tile {
  height: 60vw;
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
}
@media screen and (max-width: 992px) {
  .featured-tile {
    height: 90vh;
  }
}
@media screen and (max-width: 768px) {
  .featured-tile {
    height: 125vh;
  }
}
@media screen and (max-width: 576px) {
  .featured-tile {
    height: 125vh;
  }
}
.featured-tile-img {
  grid-column: 3 / 13;
  grid-row: 2/11;
  z-index: 1;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 992px) {
  .featured-tile-img {
    grid-column: 3 / 15;
    grid-row: 3/11;
  }
}
@media screen and (max-width: 768px) {
  .featured-tile-img {
    grid-column: 2 / 18;
    grid-row: 3/9;
  }
}
@media screen and (max-width: 576px) {
  .featured-tile-img {
    grid-column: 2 / 21;
    grid-row: 2/8;
  }
}
.featured-tile-text {
  grid-column: 12 / 21;
  grid-row: 3/10;
  z-index: 2;
  background-color: #FCFAF3;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .featured-tile-text {
    grid-column: 9 / 20;
    grid-row: 4/10;
  }
}
@media screen and (max-width: 768px) {
  .featured-tile-text {
    grid-column: 6 / 21;
    grid-row: 8/12;
  }
}
@media screen and (max-width: 576px) {
  .featured-tile-text {
    grid-column: 3 / 22;
    grid-row: 7/12;
  }
}
.featured-tile-text h3,
.featured-tile-text h1,
.featured-tile-text p {
  padding-left: 30px;
  text-align: left;
}
.featured-tile-text a {
  margin-top: 35px;
  margin-bottom: 20px;
  width: 25%;
  color: #FCFAF3;
  background: #5C7457;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 0.7rem;
  text-align: center;
}
.featured-tile-text a:hover {
  background-color: #9aaf95;
  text-decoration: none;
}
.featured-tile-text a:active,
.featured-tile-text a:focus {
  background-color: #3c5a37;
}
@media screen and (max-width: 576px) {
  .featured-tile-text a {
    width: 40%;
  }
}
.featured-tile-text h3 {
  color: #191E19;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.06rem;
}
.featured-tile-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-size: 2em;
}
@media screen and (max-width: 992px) {
  .featured-tile-text h1 {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 768px) {
  .featured-tile-text h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .featured-tile-text h1 {
    font-size: 1.25em;
  }
}
.featured-tile-text p {
  font-size: 0.75em;
}
@media screen and (max-width: 992px) {
  .featured-tile-text p {
    font-size: 0.75em;
  }
}
.basic-icon-tile {
  padding: 30px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .basic-icon-tile {
    flex-direction: row;
  }
}
.basic-icon-tile-wrapper {
  margin-bottom: 35px;
  background-color: #FCFAF3;
  min-height: 350px;
  padding-top: 50px;
}
.basic-icon-tile-wrapper h1 {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .basic-icon-tile-reversed {
    flex-direction: row-reverse;
  }
}
.basic-icon-tile-image {
  padding: 12px;
}
.basic-icon-tile-image svg {
  width: 40px;
  height: 40px;
}
.hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 0;
}
.hero-text {
  background-color: #f3eee7 !important;
  padding: 3vw 10vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text p {
  color: #191E19 !important;
}
.hero-list {
  background-color: none;
}
.hero-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8vw;
  padding-top: 2vh;
  align-items: center;
}
.hero-list-wrapper li {
  text-align: left;
}
.hero-list h1 {
  text-align: center;
  margin-top: 15vh;
}
.hero-video {
  position: relative;
  width: 100%;
  height: 641.25px;
  object-fit: cover;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .hero-video {
    height: 369px;
  }
}
.hero-video-wrapper {
  position: relative;
  margin-top: 178px;
  margin-bottom: 4.64285714rem;
}
.light {
  background-color: #F5E2DF !important;
  color: #191E19 !important;
}
footer {
  background-color: #FCFAF3;
  padding: 20px;
  font-size: 14px;
  margin-top: 12px;
}
footer h6 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
footer a {
  font-family: 'Montserrat';
  font-size: 0.85rem !important;
  color: #5C7457 !important;
}
footer a:hover {
  color: #9aaf95 !important;
  text-decoration: underline;
}
footer a:active,
footer a:focus {
  color: #3c5a37 !important;
}
.card-res-body {
  justify-content: space-around;
}
.card-res-body p {
  margin-bottom: 0;
  text-align: right;
}
.card-res-body h5 {
  text-align: right;
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}
.card-res-body button {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 600;
}
.carousel-item-custom {
  flex: 1;
  max-width: 80%;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out;
  overflow: visible;
}
.carousel-col {
  flex: 1;
  max-width: 100%;
}
.carousel-multi-item .basic-tile-third {
  width: 100%;
}
.item-box {
  background: lightblue;
  padding: 20px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}
/* Custom Dashed Indicators */
.custom-indicators {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.custom-indicators li {
  width: 20px;
  height: 3px;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.custom-indicators li.active {
  background-color: black;
}
.main-nav-bar {
  backdrop-filter: blur(10px);
  height: 88px;
}
.main-nav-bar .menu-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: black;
  width: 100px;
  justify-content: space-evenly;
  font-size: 2rem;
}
.main-nav-bar .menu-button p {
  letter-spacing: 0.1rem;
  margin: 0;
  margin-left: 2rem;
}
.main-nav-bar .reserve-button {
  text-decoration: none;
  font-family: 'whitneybook';
  width: 140px;
  padding: 0.71428571rem 1.07142857rem;
  white-space: nowrap;
  text-align: center;
  display: flex;
  background: #191E19;
  color: #FCFAF3;
  height: 42px;
  justify-content: center;
  align-items: center;
}
.main-nav-bar .reserve-button:hover {
  background: #363b36;
  color: #FCFAF3 !important;
  text-decoration: none !important;
}
.room-card-list li p {
  margin: 0;
  font-size: 0.66rem !important;
}
html,
.app,
.App {
  background-color: #f3eee7;
}
.App {
  color: #191E19;
  font-size: 16px;
  padding: 20px;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}
.glass-button {
  backdrop-filter: blur(16px);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-evenly;
}
.glass-button:hover {
  background-color: rgba(222, 222, 222, 0.6);
}
.glass-panel {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.btn-link,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.btn-link:hover,
a:hover {
  color: #9aaf95 !important;
  text-decoration: underline !important;
}
.btn-link:active,
a:active,
.btn-link:focus,
a:focus {
  color: #3c5a37 !important;
  font-weight: bold;
}
.rooms-listing .card-title,
.rooms-listing .text-muted,
.rooms-listing .text-end,
.rooms-listing p,
.rooms-listing h5,
.rooms-listing button {
  font-family: 'Montserrat' !important;
}
.rooms-listing .text-end h5 {
  font-weight: 400 !important;
  font-size: 1.4rem !important;
}
.rooms-listing p {
  font-size: 0.8rem !important;
}
.rooms-listing .date-range-picker {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 5rem;
  align-items: center;
}
.rooms-listing .date-range-picker label {
  font-family: 'Montserrat';
  font-size: 1.4rem;
  font-weight: 400;
}
.rooms-listing .date-range-picker .input-box {
  font-family: 'Montserrat';
}
