@import './variables.less';
@import './variants.less';
@import './fonts.less';
@import '../Routes/styles.less';
@import '../UI/styles.less';
@import '../components/styles.less';
@import url('bootstrap-icons/font/bootstrap-icons.css');
html, .app, .App{
    background-color: @background;
}
.App {
    color: @dark;
    font-size: @font-size-base;
    padding: 20px;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    //background-color: @background;
}
.glass{
    
    &-button{
        backdrop-filter: blur(16px);
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.1);
        justify-content: space-evenly;
        &:hover {
            background-color: rgba(222, 222, 222, 0.6)
        }
    }
    &-panel{
        background-color: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    
    
}
h1, h2, h3{
    font-family: 'LyonDisplay-Regular-Web' !important;
    line-height: 1.45;
}
h5{
    font-family: 'whitneybook' !important;
}
a{
    font-family: "whitneybook", sans-serif;
}

.btn-link, a{
    font-family: "whitneybook", !important;
    font-size: 1rem;
    &:hover{
        color: @primary-light !important;
        text-decoration: underline !important;
    }
    &:active, &:focus{
        color: @primary-dark !important;
        font-weight: bold;
    }
}
.rooms-listing{
    .card-title, .text-muted, .text-end, p{
        font-family: 'LyonTextWeb' !important;
    }
   
    h5,h1, h3
        {
        font-family: 'LyonDisplayWeb' !important;
    }
    .text-end h5{
        font-weight: 400 !important;
        font-size: 1.4rem !important;
    }
    p{
        font-size: 0.8rem !important;
    }
    .date-range-picker{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        height: 5rem;
        align-items: center;
        label{
            font-family: 'Montserrat';
            font-size: 1.4rem;
            font-weight: 400;
        }
        .input-box{
            font-family: 'whitneybook';
        }
    }

}
