@misty-rose: #F5E2DF;
@misty-rose-dark: #ecc1bb;
@misty-rose-opace: #f5e2df74;
@reseda-garden: #5C7457;
@reseda-garden-light: #9aaf95;
@reseda-garden-light-opace: #9aaf9580;
@reseda-garden-dark: #3c5a37;
@floral-white: #FCFAF3;
@floral-white-opace:#fcfaf369;
@eerie-black: #191E19;
@errie-black-light: #363b36;
@floral-gold: rgb(141, 110, 1);
@gray: #a6a6a6;
@gray-light: #b8b8bf;
@gray-light-opace: #eaeaec9e;
@kuriftu-bage: #f3eee7;

@primary: @reseda-garden;
@primary-dark: @reseda-garden-dark;
@primary-light: @reseda-garden-light;
@primary-light-opace: @reseda-garden-light-opace;
@secondary: @misty-rose;
@secondary-dark: @misty-rose-dark;
@secondary-opace: @misty-rose-opace;
@light: @floral-white;
@light-opace: @floral-white-opace;
@dark: @eerie-black;
@dark-light: @errie-black-light;
@accent: @floral-gold;
@background: @kuriftu-bage;


@font-size-base: 16px;


/* Break Points */
@xxl: 2000px;
@xl: 1400px;
@lg: 992px;
@md: 768px;
@sm: 576px;
