.btn {
    &-primary {
        background-color: @primary;
        color: @light;
        border-color: @primary;

        &:hover {
            background-color: @primary-dark;
            border-color: @primary-dark;
        }

        &:active {
            background-color: @primary !important;
            border-color: @primary !important;
        }

        &:focus {
            background-color: @primary-dark;

            &-visible {
                border-color: @primary-dark;
                background-color: @primary-dark;
                box-shadow: 0 0 0 .25rem @primary-light-opace;
            }
        }
    }
}

.form {

    &-control,
    &-select {
        margin-bottom: 8.88px;

        &:focus {
            border-color: @primary-dark;
            box-shadow: 0 0 0 .25rem @primary-light-opace;

        }
    }

}

a {
    color: @primary;
    text-decoration: none;

    &:hover {
        color: @primary-dark;
        text-decoration: underline;
    }
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    text-align: left;
    font-size: 1.4rem;

    @media screen and (min-width: @sm) {
        font-size: 1.4rem;
    }

    @media screen and (min-width: @md) {
        font-size: 1.6rem;
    }

    @media screen and (min-width: @lg) {
        font-size: 1.99rem;
    }

}

a {
    font-family: 'whitneybook';
    text-decoration: underline;
    font-size: 0.69rem;
    line-height: 1.8;
    font-weight: 400;
    letter-spacing: 0.08rem;

    @media screen and (min-width: @sm) {
        font-size: 0.8rem;
    }

    @media screen and (min-width: @lg) {
        font-size: 0.99rem;
    }
}
p{
    font-size: 0.75rem;
    line-height: 1.45;
    font-family: "Montserrat", sans-serif;
}