.resort{
    &-page{
        margin-top: 200px;

        h2{
            font-family: "Montserrat";
        }

        a{
            text-decoration: none;
        }
        .hero{
            &-wrapper{
                @media screen and (max-width: @md) {
                    flex-wrap: wrap-reverse;
                }
            }
            &-message{
                flex-direction: column;
                display: flex;
                justify-content: center;
                padding: 0 3rem;
            }
        }
        .basic-tile{
            &-wrapper{
                margin-bottom: 200px;
            }
        }
    }

    &-details{
        margin-top: 232px;
        header{
            max-width: 680px;
            margin-right: auto;
            margin-left: auto;
            .hero{
                &-sub_p{
                    margin-top: 0;
                    margin-bottom: 1rem;
                    font-size: .722rem;
                    text-transform: uppercase;
                    letter-spacing: .1428571429rem;
                    font-family: 'whitneybook' !important;
                }
                &-sub_h3{
                    margin-bottom: 1.6rem;
                    font-size: 1.85rem;
                    letter-spacing: .0357142857rem;
                    font-weight: 400;
                }

            }
        }
        &-text-hero{
            padding: 0;
            font-size: 1rem;
            line-height: 1.45;
            letter-spacing: .0571428571rem;
            overflow-wrap: break-word;
            min-height: 0;
        }
        .hero{
            width: 100vw;
            height: 100vh;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h1{
                color: @light;
                z-index: 100;
                font-size: 2.9rem;
                text-align: center;
                font-weight: 550;
                line-height: 1.7;
                margin-top: 120px;
                padding: 10px 20px;
                @media screen and (min-width: @sm) {
                    font-size: 3rem;
                    line-height: 1.4;
                }
                @media screen and (min-width: @md) {
                    font-size: 3.7rem;
                    line-height: 1.3;
                }
                @media screen and (min-width: @lg) {
                    font-size: 4rem;
                    line-height: 1.3;
                    padding-bottom: 12px;
                }

            }
            p{
                color: @light;
                margin-bottom: 20px;
                z-index: 100;
            }
            a{
                z-index: 100;
                display: inline-block;
                border-width: 1px;
                padding-left: 3rem;
                padding-right: 3rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: center;
                font-family: Montserrat, sans-serif;
                font-size: 0.9rem;
                line-height: 1.8;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.06rem;
                transition-property: all;
                transition-duration: 300ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                color: @light;
                border: solid 0.6px;
                background-color: rgba(255, 255, 255, 0.4);
                &:hover, &:active, &:focus{
                    background-color: @light;
                    border-color: @light;
                    color:@dark;
                    cursor: pointer;
                }
            }

        }

        .description{
            &-wrapper{
                min-height: 95vh;
                padding: 50px;
                align-items: center;
                @media screen and (min-width: @lg) {
                    padding-left: 8rem;
                    padding-right: 16rem;
                }
                @media screen and (max-width: @sm) {
                    padding-bottom: 8rem;
                    padding-top: 16rem;
                }
            }
            &-imageStack{
                position: relative;
                height: 50vw;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(5, 1fr);
                max-width: 500px;
                aspect-ratio: 1;
                &-wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 80vh;
                    @media screen and (max-width: @sm) {
                        height: 50vh;
                    }
                }
                .top{
                    grid-column: 1 / 5;
                    grid-row: 1 / 5;
                    z-index: 1;
                    background-size: cover;
                    background-position: center;
                }
                .bottom{
                    background-size: cover;
                    background-position: center;
                    grid-column: 4 / 6;
                    grid-row: 4 / 6;
                    z-index: 2;
                }
            }
            &-text{
                padding: 50px;
            }
        }

        .accomidation{
           
            //width:100%;
            padding: 12px;
            margin-top: 50px;
            height: fit-content;
            &-img{
                grid-column: 3 / 13;
                grid-row: 2/ 11;
                z-index: 1;
                background-size: cover;
                background-position: center;
                @media screen and (max-width: @lg) {
                    grid-column: 3 / 15;
                    grid-row: 3/ 11;
                }
            
                @media screen and (max-width: @md) {
                    grid-column: 2 / 18;
                    grid-row: 3/ 9;
                }
            
                @media screen and (max-width: @sm) {
                    grid-column: 2 / 21;
                    grid-row: 2/ 8;
                }
                
            }
            &-text{
                grid-column: 12 / 21;
                grid-row: 3/ 10;
                z-index: 2;
                background-color: @light;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media screen and (max-width: @lg) {
                    grid-column: 9 / 20;
                    grid-row: 4/ 10;
                }
            
                @media screen and (max-width: @md) {
                    grid-column: 6 / 21;
                    grid-row: 8/ 12;
                }
            
                @media screen and (max-width: @sm) {
                    grid-column: 3 / 22;
                    grid-row: 7/ 12;
                }
                h3{
                    color: @dark;
                    font-family: "Montserrat", sans-serif;
                    font-size: 0.9em;
                    line-height: 1.8;
                    font-weight: 300;
                    letter-spacing: 0.06rem;
                }
                h1{
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.06rem;
                    font-size: 2em;
                    @media screen and (max-width: @lg) {
                        font-size: 1.75em;
                    }
                    @media screen and (max-width: @md) {
                        font-size: 1.5em;
                    }
                    @media screen and (max-width: @sm) {
                        font-size: 1.25em;
                    }
                }
                p{
                    font-size: 1em;
                    @media screen and (max-width: @lg) {
                        font-size: 0.75em;
                    }
                
                    
                }
            }
            .basic-tile{
                min-height: auto;
                margin-bottom: 33.5px;
                &-image{
                    //aspect-ratio: auto;
                }
            }
        }

        .content{
            min-height: 66vh;
            align-items: center;
            @media screen and (min-width: @md) {
                flex-direction: row;
            }
            &-wrapper{
                margin-bottom: 35px;
                
                h1 {
                    margin-top: 60px;
                    text-align: center;
                }
            }
            &-reversed{
                @media screen and (min-width: @md) {
                    flex-direction: row-reverse;
                }
            }
            .image{
                padding: 12px;
                img{
                    width: 100%;
                }
            }
            
        }

        .contact{
            &-wrapper{
                background-color: @light;
                padding: 2rem;
                h1 {
                        text-align: right;
                    }
            }
            &-image{
                img{
                    width: 100%;
                }
            }
            
            &-text{
                text-align: right;
                i{
                    margin-right: 10px;
                }
            }
        }
        
    }

    &-gallery{
        padding-left: 12px;
        padding-right: 12px;
        &-wrapper{
            margin-top: 180px;
        }
        &-hero{
            width: 100%;
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                text-align: center;
            }
        }
    }
}

.dining-tile{
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 45px;
    @media screen and (max-width: @xxl) {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    @media screen and (max-width: @xl) {
        padding-left: 60px;
        padding-right: 60px;
    }
    &-wrapper{
        margin-top: 30px;
        margin-bottom: 35px;
        padding: 20px;
        background-color: @light;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
            color: @dark;
        }
    }
    &-image{
        width: 100%;
        border-radius: 5px;
        &-wrapper{
            display: flex;
            align-items: center;
        }
    }

    &-text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;

        h1, p{
            color: @dark;
            text-align: right;
        }

    }
}

.accomidation-page{
    .hero{
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10vw 0;


        &-text{
            background-color: @primary;
            padding: 3vw 10vw;
            max-height: 30vh;
            p {
                color: @light;
                border: none;
            }
        }

        h1{
            color: @light;
            text-align: center;

        }
        &-carousel{
           
            padding: 0;
            .carousel-item div{
                height: 100vh;
                @media screen and (max-width: @sm) {
                    height: 50vh;
                }
            }
        }
    }
    .listing{
        padding-top: 10vh;
        padding-bottom: 12vh;
        h1{
            text-align: center;
            margin-bottom: 25px;
        }
    }
}

.resorts-subpage-hero{
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    margin-top: 178px;
    margin-bottom: 4.64285714rem;
}