footer {
    background-color: @light;
    padding: 20px;
    font-size: 14px;
    margin-top:12px;
    .list-unstyled{
        a {
            color: #5d5752 !important;
            font-size: .925rem;
            letter-spacing: .3px;
            text-decoration: none;
            display: inline-block;
            margin-bottom: .4rem;
            line-height: 1.45;
            &:hover{
                color: #5d5752 !important;
            }
        }

    }

    h6 {
        //font-weight: bold;
        font-size: 1.722rem;
        color: @dark;
        margin-bottom: .755rem;
        font-family: 'LyonDisplay-Light-Web' !important;
        letter-spacing: .0357142857rem;
        font-weight: 400;

    }
    a{
        font-size: 0.85rem !important;
        color: @primary !important;
        &:hover{
            color: @primary-light !important;
            text-decoration: underline;
        }
        &:active, &:focus{
            color: @primary-dark !important;
        }
    }
}