.resorts-nabvar{
    background-color: @light-opace;
    position: fixed;
    top: 88px;
    width: 100%;
    backdrop-filter: blur(10px);
    margin: 0;
    z-index: 1000;
    .nav-link{
        &:hover{
            color: @dark-light !important;
        }
        &:active, &:focus{
            color: @dark !important
        }

    }
    .disabled{
        color: @gray-light !important;
    }
    @media screen and (max-width: @lg) {
        top: 88.07px;
    }

    .dropdown-menu{
        position: absolute;
        left: 40px;
        width: 30vw;
    }
}